
DATABASE_URL
ADMIN_USERNAME
HASHED_ADMIN_PASSWORD

STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET
RESEND_API_KEY
SENDER_EMAIL
S3_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
PHOTO_ADDRESS


NEXT_PUBLIC_STRIPE_PUBLIC_KEY
NEXT_PUBLIC_SERVER_URL